alias ls="gls -AXp --color=always --group-directories-first"
chpwd() {
  ls
}

# XDG ENV VARS -----------------------------------------------------------------
export XDG_CACHE_HOME="$HOME"/.cache
export XDG_CONFIG_HOME="$HOME"/.config
export XDG_DATA_HOME="$HOME"/.local/share
export XDG_STATE_HOME="$HOME"/.local/state

# PATH manipulation ------------------------------------------------------------
safe_path_prepend () {
  [[ "$PATH" =~ "$1" ]] || PATH="$1:$PATH"
}

safe_path_prepend "/Users/jacob/usr/bin"
safe_path_prepend "/Users/jacob/.local/bin"
safe_path_prepend "/Users/jacob/.local/pipx/venvs/poetry/bin"

export PATH

{{- if eq .chezmoi.os "darwin" }}

# VERSION MANAGEMENT -----------------------------------------------------------
. $(brew --prefix asdf)/libexec/asdf.sh
{{- end}}

# GOLANG -----------------------------------------------------------------------
CGO_ENABLED=1
source ~/.asdf/plugins/golang/set-env.zsh
export GOBIN="/Users/jacob/.local/bin"

# OTHER GLOBAL ENV VARS --------------------------------------------------------
export EDITOR="nvim"
export VISUAL="nvim"

# JOURNAL ----------------------------------------------------------------------
JOURNAL="/Users/jacob/docs/journal/"
j () {
  local FNAME="$JOURNAL$(date +%Y-%m-%d).txt"
  # [[ -f $FNAME ]] || echo $TEMPLATE > $FNAME
  $EDITOR $FNAME
}

# POMODORO ---------------------------------------------------------------------
# requires openpomodoro-cli
# requires beeb (beeep cli wrapper)
p () {
  # TODO: support linux notifications
  local SCRIPT='display notification "Session complete! Take a break..." with title "Pomodoro"'
  pomodoro start "$@" \
    && find ~/.pomodoro/current \
    | entr -pz osascript -e $SCRIPT &
}

# ALIASES ----------------------------------------------------------------------
alias cm="chezmoi"
alias e="$EDITOR"
alias vim="vim -u $XDG_CONFIG_HOME/vim/vimrc"

# ------------------------------------------------------------------------------
# KEEP HOME CLEAN
# https://wiki.archlinux.org/title/XDG_Base_Directory#Hardcoded
# ------------------------------------------------------------------------------
alias wget='wget --hsts-file="$XDG_CACHE_HOME/wget-hsts"'

export ASDF_CONFIG_FILE="$XDG_CONFIG_HOME"/asdf/asdfrc
export ASDF_DATA_DIR="$XDG_DATA_HOME"/asdf
export ASDF_DIR="$XDG_DATA_HOME"/asdf
export CUDA_CACHE_PATH="$XDG_CACHE_HOME"/nv
export NODE_REPL_HISTORY="$XDG_DATA_HOME"/node_repl_history
export W3M_DIR="$XDG_DATA_HOME"/w3m
export XAUTHORITY="$XDG_RUNTIME_DIR"/Xauthority
export XINITRC="$XDG_CONFIG_HOME"/x11/xinitrc
export npm_config_cache="$XDG_CACHE_HOME"/npm
